main {
    height: 500px;
    border: 2px solid green;
}

.flex-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 2px dashed purple;
}

.flex-container > div {
    padding: 30px;
    margin: 20px;
    border: 1px solid red;
    background-color: pink;
    font-size: 30px;
    color: blue;
}